<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    <style>
        table {
            text-align: center;
            margin-top: 90px;

        }


        tbody tr:hover {
            background-color: #e3f2fd;
        }

        .input-group>.input-group-prepend {
            flex: 0 0 20%;
        }
        form {
            width: 50vw;
        }

        #top-alert {
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 1em;
            width: 80%;
            z-index: 122222;
        }

    </style>
    <script>


        function showname () {
            let name = document.getElementById('file');
            let label = document.getElementById('labelforFile');

            label.setAttribute("placeholder",name.files.item(0).name);


            //alert('Selected file: ' + name.files.item(0).name);
            //alert('Selected file: ' + name.files.item(0).size);
            //alert('Selected file: ' + name.files.item(0).type);
        };

        function showname1 () {
            let name = document.getElementById('file1');
            let label = document.getElementById('labelforFile1');

            label.setAttribute("placeholder",name.files.item(0).name);


            //alert('Selected file: ' + name.files.item(0).name);
            //alert('Selected file: ' + name.files.item(0).size);
            //alert('Selected file: ' + name.files.item(0).type);
        };

    </script>
</head>

<body>

        <div th:if="${success}" id="top-alert" class="alert alert-success alert-dismissible fade show" role="alert">

            <div th:text="${success}">dsadsa</div>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>


        </div>


        <div th:if="${failed}" id="top-alert" class="alert alert-danger alert-dismissible fade show" role="alert">

            <div th:text="${failed}">dsadsa</div>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>


        </div>

        <div th:if="${warning}" id="top-alert" class="alert alert-warning alert-dismissible fade show" role="alert">

            <div th:text="${warning}">dsadsa</div>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>


        </div>

        <!--NavBar-->

        <nav class="navbar navbar-dark bg-dark fixed-top  justify-content-center" id="nav">
            <form class="form-inline m-2" method="POST" enctype="multipart/form-data" action="/upload">
                <div class="input-group">
                    <label class="btn btn-success">Chose File <input type="file" id="file" name="file"  onchange="showname()" hidden  accept=".xlsx"></label>
                    <input class="form-control" id="labelforFile" placeholder="File path" aria-label="File path" disabled>
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </form>
            <form class="form-inline m-2" method="POST" enctype="multipart/form-data" action="/convert">
                <div class="input-group">
                    <label class="btn btn-success">Chose File <input type="file" id="file1" name="file1"  onchange="showname1()" hidden  accept=".json"></label>
                    <input class="form-control" id="labelforFile1" placeholder="File path" aria-label="File path" disabled>
                    <input class="btn btn-success" type="submit" value="Convert" />
                </div>
            </form>
        </nav>

<div class="container-fluid m-0 p-0">
   <main>


       <!--Result-->
       <table class="table table-hover table-striped">


           <thead class="table-dark">
           <tr>
               <th scope="col">#</th>
               <th scope="col">File</th>

           </tr>
           </thead>
           <tbody>
           <th:block th:each="file,iter : ${files}">
               <tr>
                   <th scope="row" th:text="${iter.index}+1"></th>
                   <td><a th:href="${file}" th:text="${file}" /></td>

               </tr>

           </th:block>
           </tbody>
       </table>




   </main>
</div>



<!-- JavaScript Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>